#about-page {
  color: white;
  display: flex;
  width: 43em;
  background-image: url(https://giffiles.alphacoders.com/165/16571.gif);
  background-size: contain;
  height: 43em;
}

#about-page h1 {
  font-family: Goldman;
  margin-bottom: 0;
}

#about-page span {
  font-family: monospace;
  font-size: 1.2em;
  margin-bottom: 0;
}

.flags {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag img {
  height: 5em;
  margin: 0 2em;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
