.powerup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerup.health {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.powerup.kaboom {
  background-color: orange;
  border-radius: 10px;
  border: 1px solid black;
}

.powerup.experience {
  background-color: lightgreen;
  border-radius: 10px;
  border: 1px solid black;
}
