.powerup {
  position: absolute;
}

.powerup.invincibility {
  background-color: grey;
}

.powerup.health {
  background-color: pink;
}

.powerup.kaboom {
  background-color: orange;
}

.powerup.experience {
  background-color: lightgreen;
}

.powerup.speed {
  background-color: cyan;
}
