.pause-button {
    font-family : Goldman;
    margin-left : 28em;
    color : white;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 43em;
  height: 43em;
  z-index:4;
  position: absolute;
  background-image: url('https://giffiles.alphacoders.com/165/16571.gif');
  background-size: cover;
  color: white;
  font-family: Goldman;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}

.menu-button {
  margin: 0.25em 0;
  transition: color 2s, font-size 1s;
  font-weight: 900;
}

.button-menu {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.menu-button:hover {
  font-size: 3.1em;
  color: cyan;
}

#level-up-screen {
  display: flex;
  padding: 1em;
  width: 28em;
  height: 36em;
  z-index: 1;
  position: absolute;
  top: 43em;
  left: 7em;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.3);
  transition: top 1s;
  border: 3px solid white;
  color: white;
  text-shadow: 2px 3px black;
}

#game-over-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.3);
  border: 3px solid white;
  z-index: 2;
  top: 43em;
  left: 14em;
  width: 15em;
  height: 15em;
  transition: top 1s;
}

#game-over-screen h1 {
  font-family: Goldman;
  font-size: 2em;
  text-shadow: 1px 1px white;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#game-over-screen span {
  color: white;
}

#game-over-screen button {
  width: 50%;
  font-family: Goldman;
  padding: 0 0.25em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  margin-top: 0.35em;
  background-color: black;
  color: white;
  font-variant: small-caps;
  box-sizing: border-box;
  border: 1px white solid;
}

#game-win-screen {
  color: white;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  border: 3px solid white;
  z-index: 2;
  top: 11em;
  left: 12em;
  width: 20em;
  height: 20em;
}

#game-win-screen h1 {
  font-size: 1.7em;
  font-family: Goldman;
}

#game-win-screen button {
  width: 50%;
  font-family: Goldman;
  padding: 0 0.25em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  margin-top: 0.35em;
  background-color: black;
  color: white;
  font-variant: small-caps;
  box-sizing: border-box;
  border: 1px white solid;
}

#game-win-screen button:hover, #game-over-screen button:hover {
  color: black;
  background-color: white;
  border-color: cyan;
}

.perk-img {
  width: 16.66%;
}

.perk-container {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.experience-container {
  display: flex;
  margin-left: 0.5em;
}

.exp-counter {
  width: 8em;
  display: flex;
  justify-content: flex-end;
}

#skill-point {
  font-size: 3em;
  font-family: Goldman;
}

#points, #level {
  font-family: Goldman;
}

.minus-button, .plus-button {
  width: 3.5em;
  height: 3.5em;
  background-color: black;
  font-size: 0.50em;
  border: none;
  color: white;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 3px;
}

.minus-button:disabled, .plus-button:disabled, #confirm-button:disabled {
  opacity: 0.5;
  border: none;
}

.skill-label {
  font-family: Goldman;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.skill-bar {
  display: flex;
  width: 7.75em;
  align-items: center;
  margin: 0 0.3em;
  flex-grow: 1;
  background-color: white;
  border: 2px black solid;
}

.skill-block:last-child {
  margin-right: 0.25em;
}

.skill-container {
  display: flex;
  justify-content: center;
}

.skill-block {
  width: 1.25em;
  height: 1.25em;
  box-sizing: border-box;
  margin-left: 0.25em;
  border: 2px black solid;
}

#confirm-button {
  font-family: Goldman;
  padding: 0 0.25em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-top: 0.35em;
  background-color: black;
  color: white;
  font-variant: small-caps;
  box-sizing: border-box;
  border: 1px white solid;
}
